.HA_VERSION
.cloud
.storage/androidtv*
.storage/application_credentials
.storage/assist_pipeline.pipelines
.storage/auth*
.storage/bluetooth.*
.storage/cloud
.storage/core.*
.storage/energy
.storage/esphome.*
.storage/frontend.user_data*
.storage/hacs*
.storage/hassio
.storage/homeassistant.*
.storage/http*
.storage/map
.storage/onboarding
.storage/person
.storage/repairs.issue_registry
.storage/tmp*
.storage/trace.saved_traces
.storage/zha.storage
addons_config/
blueprints/
custom_components/
enoceanmqtt.log
groups.yaml
home-assistant.log*
home-assistant_v2.db*
qBittorrent/
scenes.yaml
scripts.yaml
secrets.yaml
tts/
www/
zigbee.db
zigbee2mqtt/
